@model Diyetisyenlik.Models.Entity.User
@{
    ViewBag.Title = "DiyetisyenGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("dytsynGuncelle", "Home", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.UserId)
    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.password)
    @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
    <br />
</div>
    <div>
        <button class="btn btn-warning">Diyetisyen Güncelle</button>
    </div>
}
