@using Diyetisyenlik.Models.Entity
@model List<User>
@{
    ViewBag.Title = "Hasta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>Hasta Id</th>
        <th>Hasta Adı</th>
        <th>Hasta Soyadı</th>
        <th>Kimlik Bilgisi</th>
        <th>Hastalık Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach(var hastalar in Model)
        {
        <tr>
            <td>@hastalar.UserId</td>
            <td>@hastalar.FirstName</td>
            <td>@hastalar.LastName</td>
            <td>@hastalar.IdentityNumber</td>
            <td>@hastalar.Disease.DiseaseName</td>
            <td><a href="/Hasta/Sil/@hastalar.UserId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Hasta/Güncelle/@hastalar.UserId" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Home/YeniHasta/" class="btn btn-primary">Yeni Hasta Ekle</a>


